{% extends 'base.html.twig' %}

{% block main %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{% trans %}Fast Entry{% endtrans %}</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div data-prototype="{{ form_widget(form.entries.vars.prototype)|e('html_attr') }}">
                            {% for entry in form.entries %}
                                <div class="entry-group">
                                    {{ form_row(entry.customer) }}
                                    {{ form_row(entry.project) }}
                                    {{ form_row(entry.activity) }}
                                    {{ form_row(entry.duration) }}
                                    {{ form_row(entry.description) }}
                                    {{ form_row(entry.billable) }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" class="btn btn-secondary" id="add-entry">{% trans %}Add Entry{% endtrans %}</button>
                        <button type="submit" class="btn btn-primary">{% trans %}Submit{% endtrans %}</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% block javascripts %}
        {{ parent() }}
        <script>
            const addEntryButton = document.getElementById('add-entry');
            const collectionHolder = document.querySelector('[data-prototype]');

            addEntryButton.addEventListener('click', function() {
                const prototype = collectionHolder.dataset.prototype;
                const index = collectionHolder.querySelectorAll('.entry-group').length;
                const newForm = prototype.replace(/__name__/g, index);
                const entryGroup = document.createElement('div');
                entryGroup.classList.add('entry-group');
                entryGroup.innerHTML = newForm;
                collectionHolder.appendChild(entryGroup);
            });
        </script>
    {% endblock %}
{% endblock %}